* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	height: 100vh;
	width: 100vw;

}

main {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 1, 0.46), rgba(0, 0, 0, 0.58)), url(../images/background.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: top;

}

.stopWatch {
	width: 100%;
	padding-top: 5%;
}

.stopWatch h1 {
	color: white;
	font-size: 50px;
	font-weight: bold;
}


.buttons button {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: none;
	cursor: pointer;
	margin: 30px 10px 0px 10px;
}

ul#timeSplits li {
	background: white;
	margin-top: 15px;
	width: 200px;
	margin: 15px auto;
	padding: 8px;
	border-radius: 8px;
}